<!--The content below is only a placeholder and can be replaced.-->
<div class="container app">
  <h1>
    Welcome to {{title}}!
  </h1>
  <div class="panel panel-default">
    <div class="panel-body">
      <nav class="navbar navbar-inverse">
        <ul class="nav navbar-nav">
          <li class="active">
          <a routerLink="/" >Home</a>
          </li>
          <li class="">
          <a routerLink="/post/add" >Add Post</a>
          </li>
          <li class="">
          <a routerLink="/category/add" >Add Category</a>
          </li>
        </ul>
      </nav>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
